/* .img1,  .img2{
    width: 200px;
} */

/* #contain{
    border: 1px solid black;
    height: 100px;
    width: 100px;
}

.btn{
    margin: 20px;
} */

.colors{
    color: red;
}

.bold{
    font-weight: bold;
}

.line{
    text-decoration: line-through;
}

ul {
	padding: 30px;
	border: 1px solid red;
}
li {
	list-style-type: none;
	margin-bottom: 20px;
	border: 1px dashed black;
}