/* .img1,  .img2{
    width: 200px;
} */

/* #contain{
    border: 1px solid black;
    height: 100px;
    width: 100px;
}

.btn{
    margin: 20px;
} */

/* .colors{
    color: red;
}

.bold{
    font-weight: bold;
}

.line{
    text-decoration: line-through;
}

ul {
	padding: 30px;
	border: 1px solid red;
}
li {
	list-style-type: none;
	margin-bottom: 20px;
	border: 1px dashed black;
} */

/* .red {
    border: 50px solid red;
    width: 200px;
    height: 200px;
}

.green {
    border: 50px solid green;
    width: 100px;
    height: 100px;
} 

 .blue {
    border: 50px solid blue;
    
} */

/* div, ul, li {
	padding: 20px;
}

div {
	border: 1px solid red;
}
ul {
	border: 1px solid orange;
}
li {
	border: 1px solid green;
} */

/* #block:not(.active) {
	display: none;
} */

/* div {
    border: 1px solid black;
    width: 200px;
    height: 200px;
    margin-bottom: 10px;
}
#btn {
    background-color: orange;
} */

/* table tr td{
    border: 1px solid black;
    width: 50px;
    height: 50px;
} */
/* td {
	width: 50px;
	height: 50px;
	border: 1px solid black;
} */
.hidden {
	display: none;
}